h1, h2, h3, p {
    font-family: Helvetica;
  }

h1 {
    background-image: url('../pattern.webp');
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}
.price {
    font-weight: bold;
    color: blue;
}
#brush {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#frame {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#paint {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

